.header-container {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #69BD83;
  height: 12.5rem;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

.header-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 15px;
}

.header-sentence {
  font-size: 20px;
  color: white;
  margin: 0;
}

.header-date {
margin-top: 0;
margin-bottom: 0;
}

.header-date {
  text-align: center;
  font-size: 15px;
}

.date-container {
  margin: auto;
  margin-top: 20px;
  width: 200px;
  height: 65px;
  background-color: #EAF6EF;
  border: 2px solid #4FA26A;
  border-radius: 15px;
}

.header-date {
  padding: 7.5px 0;
  color: #3E7F5B;
}

.header-date-value {
  color: #2F6B4F;
  padding: 2.5px;
  font-size: 1rem;
}

.schedule-element-num {
  font-weight: bold;
  font-size: 1.4rem;
  padding: 20px;
}
